body {
    background-color: lightcyan;
    /* display: flex;
    flex-direction: column; */
    margin: 0;
}

div.container {
    display: flex;
    flex-direction: row;
}

div.mainbody {
    background-color: gray;
    /* align-self: center; */
}

div.links {
    background-color: gray;
}