head
  meta(charset='UTF-8')
  title Confirmation Page
  link#style(href='/resources/css/main.css' rel='stylesheet')
  script(src='/main.js')
  body
    nav
        ul
            li
                a(href='/main')
                    b Main Page
            li
                a(href='/testimonies')
                    b Review Page
            li
                a(href='/contact')
                    b Contact Us
            li
                a(href='/admin/contactlog')
                    b Contact Logs
            li
                button#button(type='button')
                    b Dark Mode
    h1 Please try again
